<!DOCTYPE html>
<html>
  <head>
    <link
      rel="icon"
      href="{{ url_for('static', filename='images/openai-favicon.png') }}"
    />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/chat.css') }}"
    />
    <title>chatApp</title>
  </head>
  <body class="app-body">
    <div class="navbar">
      <div class="logo-content">
        <a href="{{url_for('chat')}}">
          <img
            class="logo"
            src="{{ url_for('static', filename='images/openai-logo.svg') }}"
            href="{{url_for('chat')}}"
            alt="Logo"
          />
        </a>
        <a href="{{url_for('chat')}}" class="app-name">
          <h3>chatApp</h3>
        </a>
      </div>
      <div>
        <a class="logout-btn" href="{{url_for('logout')}}">Logout</a>
      </div>
    </div>
    <div class="container">
      <form action="/chat" method="POST">
        <div class="input-container">
          <input type="hidden" name="form_type" value="train" />
          <select class="dropdown" name="dropdown">
            <option value="" {% if not prev_datatype %}selected{% endif %} disabled>Select</option>
            <option value="pdf_file" {% if prev_datatype == 'pdf_file' %}selected{% endif %}>PDF file</option>
            <option value="youtube_video" {% if prev_datatype == 'youtube_video' %}selected{% endif %}>YouTube video</option>
            <option value="webpage" {% if prev_datatype == 'webpage' %}selected{% endif %}>Web page</option>
            <option value="docx" {% if prev_datatype == 'docx' %}selected{% endif %}>Doc file</option>
          </select>
          <textarea
            class="train-textbox"
            name="trainbox"
            placeholder="Enter a link"
          >{% if prev_dataset %}{{prev_dataset}}{% endif %}</textarea>
          <input class="submit-btn" type="submit" value="Train" />
        </div>
        {% if training_text %}
        <p class="response-text">{{ training_text }}</p>
        {% endif %}
      </form>
      <form class="chat-form" action="/chat" method="POST">
        <div class="input-container">
          <input type="hidden" name="form_type" value="query" />
          <textarea
            class="textbox"
            name="querybox"
            placeholder="Send a message"
          >
{% if prev_query %}{{prev_query}}{% endif %}</textarea
          >
          <input class="submit-btn" type="submit" value="Submit" />
        </div>
        {% if text %}
        <p class="response-text">{{ text }}</p>
        {% endif %}
      </form>
    </div>
  </body>
</html>
